<div id='content'>
  <a class='header' routerLink='/'>
    <i class='fas fa-angle-double-left'></i>
  </a>
  <h1 class='header'>
    ISSUE
  </h1>
</div>
<table class="table" style="margin-left: auto; margin-right: auto;width: 75%;">
  <tr class='row' *ngFor="let issue of issues">
    <td class="number-col">
      {{issue.time}}
    </td>
    <td class="content-col">
      {{issue.error}}
    </td >
    <td class="col-verify">
      <button (click)="removeIssue(issue)"></button>
    </td>
  </tr>
</table>
<p style="font-size:150%; font-weight:bold; background: none;" [ngStyle]="{display: emty}">Hiện tại không có issue nào</p>
<h1 style="text-align: center;font-size:150%; font-weight:bold; margin-right: auto;margin-right: auto;" [ngStyle]="{display:err_dis}">Hiện tại không load được trang này</h1>
