.header{
  color: white ;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  text-align: center;
  font-size: 75pt;
  margin: 10px;
  margin: 0px;
  display:inline;
}

a{
  left: 1%;
  position:absolute;
  margin-right: 10%;
}

a :hover{
  text-shadow: 0 8px 8px rgb(10 16 20 / 24%);
  transition: text-shadow .5s;
}
p{
  padding: 20px;
  background: lightblue;
  margin: 20px 20px;
  border-radius: 10px;
  font-size: 15pt;
  word-wrap: break-word;
  text-align: center;
} 

#content{
  background: #ff751a;
  text-align: center
}
