<div id='content'>
  <a class='header' routerLink='/'>
    <i class='fas fa-angle-double-left'></i>
  </a>
  <h1 class='header'>
    NUMBER LIST
  </h1>
</div>
<table class="table" style="margin-left: auto; margin-right: auto;width: 75%;">
  <tr class='row' *ngFor="let number of numbers">
    <td class="number-col">
      {{number.number}}
    </td>
    <td class="content-col" style="white-space: pre-line">
      {{number.infors}}
    </td>
  </tr>
</table>
<div class="loader" [ngStyle]="{display: loading_status}"></div>
