#content{
  margin-top: 13%;
  text-align: center;
  background: lightgoldenrodyellow;
  margin-left: 30%;
  margin-right: 30%;
  padding: 30px;
  border-radius: 15px;
  ;
}
h1{
  margin-bottom: 5%;
  color: #6d245c ;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  text-align: center;
  font-size: 30pt;
  margin-top: 0px;
  margin-bottom: 50px;
}
input{
  width: 35%;
  font-size: 20pt;
  text-align: center;
  min-width: 220px;
}
#submit{
  width: 200px;
  height: 30px;
  background: #6d245c;
  border:none;
  color: white;
  font-size: 15pt;
  opacity: 90%;
}
#submit:hover{
  opacity: 100%;
}
#btn{
  margin-top: 5%;
  text-align: center;
}
#layer{
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background: black;
}
#result-div{
  width: 900px;
  height: 600px;
  position: absolute;
  margin-top: -26%;
  margin-left: 22.5%;
  margin-right: 22%;
  background-size:contain;
}
#close{
  border:none;
  background: #fe7941;
  color: white;
  margin-top: 0px;
  position: absolute;
  right: 0px;
}
#close:hover{
  color: blue;
}
#feedback{
  border:none;
  background: #1877f2;
  position: absolute;
  font-size: 11pt;
  font-weight: bold;
  color: white;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 3px;
}
#feedback:active{
  opacity: 85%;
}
#result-content{
  width: 50%;
  height: 80%;
  margin-left: 45%;
  margin-top: 5%;
}
#text{
  margin-right: 5%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 13pt;
  color: white ;
  line-height: 20pt;
}
#fb-div{
  width: 450px;
  height: 300px;
  position: absolute;
  margin-top: -18.5%;
  margin-left: 36.5%;
  margin-right: 22%;
  background: #1877f2;
}
#email{
  width: 400px; 
  height: 30px; 
  font-size: 15pt;
  position: absolute;
  top: 40px;
  left: 25px;
  text-align: left;
  margin-bottom: 10px;
}
#fb-content{
  width: 400px; 
  height: 150px; 
  font-size: 15pt;
  position: absolute;
  top: 80px;
  left: 25px;
  text-align: left;
  margin-bottom: 10px;
}
