<div id=gen>
<div id="content">
  <h1>INPUT YOUR BIRTHDAY</h1>
  <input type="date"  (change)="updateDate($event.target.value)">
</div>
<div id=btn>
  <button id='submit' type="submit" (click)="returnResult()">RESULT</button>
</div>
</div>
<div id='result-div' [ngStyle]="{display: result_display, background: result_background}">
  <button id='close' (click)="closeResult()">X</button>
  <iframe style="" src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Flocalhost%3A4200%2Fyour-number&layout=button&size=large&width=77&height=28&appId" width="77" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
  <button id='feedback' (click)="fb_pressed()">Feedback</button>
  <div id='result-content'>
    <p id='text'>{{text}}</p>
  </div>
</div>
<div id=fb-div [ngStyle]="{display: fb_display}">
  <button id='close' (click)="closeFeedback()" style="background: #1877f2;">X</button>
  <input type="email" id='email' placeholder="Email" [(ngModel)]="fb_email" email>
  <textarea type="text" id='fb-content' placeholder="what do you want to say to us" [(ngModel)]="fb_content" email #prmEmail="ngModel"></textarea>
  <button id='submit' (click)="sendFeedBack()" style="position: absolute; left: 125px; top: 270px; background: #fe7941;">SEND</button>
</div>