/* You can add global styles to this file, and also import other style files */
body{
  margin: 0px;
  padding: 0px;
  background: linear-gradient(to right, #9900cc 16%, #6600cc 105%);
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
