h1{
  color: white ;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  text-align: center;
  font-size: 500%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 0px;
}
h2{
  color: white ;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  text-align: center;
  font-size: 175%;
  margin-top: 2%;
  margin-bottom: 6vh;
  padding: 0px;
}
#logo{
  margin-top: 5%;
  text-align: center;
}

#scroll{
  width: 10vh;
  height: 10vh;
  transition: box-shadow .5s;
  border-radius: 50%;
  background: white;
  border:none;
}
#scroll:hover{
  box-shadow: 0 8px 8px rgb(0 0 0 / 24%);
  text-decoration: none;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.arrow {
  border: solid #8b00cc;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 10px; text-align: center;
}
