<div id='logo'>
  <img style="border-radius: 50%; height: 50%; width: 50%; margin-bottom: 3%; margin-top: 2%;" src="./assets/back.jpg"/>
</div>
<h1>
  HELLO!
</h1>
<h2>
  You can find out all information about numerology here
</h2>
<div style="text-align: center; margin-bottom: 25%;">
  <button id="scroll" (click)="scroll(video)"><i class="arrow down"></i></button>
</div>
<div style="text-align: center; padding-bottom: 25%; height: 600px;">
  <iframe #video style="width:80vw;height:40vh" src="https://www.youtube.com/embed/EL7Ngxpiu28" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>