<div id='logo'>
  <img style="border-radius: 50%;" src="/assets/logo.png"/>
</div>
<h1>
  Welcome to Pythagoras!
</h1>
<h2>
  You can find out all information about numerology here
</h2>
<button id="scroll" (click)="scroll(video)"><i class="arrow down"></i></button>
<iframe #video style="margin-left:15%; margin-bottom: 12%;" width="1200" height="600" src="https://www.youtube.com/embed/EL7Ngxpiu28" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>