<div style="float: left; text-align: left;">
  <h2>Contact Information:</h2>
  <br><br>
  <b>Telephone:</b> (+84) 854 642 379
  <br><br><br><br>
  <b>Email:</b> Quang0002@gmail.com
  <br><br><br><br>
  <b>Address:</b> 462 Phan Xich Long Street, 3 Ward, Phu Nhuan District, HCMC
</div>
<iframe id='map' src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.0949680455024!2d106.68010566077312!3d10.804038125551571!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752954c82886d7%3A0x132aa84246ee2dcc!2zNDYyIFBoYW4gWMOtY2ggTG9uZywgUGjGsOG7nW5nIDMsIFBow7ogTmh14bqtbiwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1620793443573!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
