#navi{
  width: 100%;
  background:none;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align:center;
}
.navi{
  font-size: 20pt;
  font-weight: bold;
  color:#ffda00;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 2% 4%;
  height: 100%;

  background: #6d245c;
  text-decoration: none;
  border-right: solid white 0.5px;
}
.navi:hover{
  text-shadow: 0 4px 4px #ffda00;
  transition: text-shadow .5s;
}
#layer{

}
