<h1>
  <a [routerLink]="['/']" routerLinkActive="router-link-active" >
    <i class='fas fa-angle-double-left'></i>
  </a>
  ADD NUMBER
</h1>
<div id="content">
  <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)">
  <p>
    Number
    <input placeholder="1,2,3,..." [(ngModel)]="number" type="text"/>
  </p>
  <p>
    <textarea id="content-input" placeholder="Content of the number" type="text" [(ngModel)]="content"></textarea>
    <input id="file-input" type="file" accept="image/x-png,image/gif,image/jpeg" (change)="handlFileInput"/>
  </p>
  <button id="submit" (click)="addNumber">Submit</button>
</div>

