<div id='head'>
  <a class='header' routerLink='/'>
    <i class='fas fa-angle-double-left'></i>
  </a>
  <h1 class='header'>
    ADD NUMBER
  </h1>
</div>
<form id="content" #addForm='ngForm' (ngSubmit)='onSubmit(addForm.value)'>
  <p>
    Number
    <input placeholder="1,2,3,..." [(ngModel)]="number" type="text" name="number" required pattern="^[0-9]*$" />
  </p>
  <p>
    <textarea id="content-input" placeholder="Content of the number" type="text" [(ngModel)]="content" name="content" required></textarea>
    <input id="file-input" type="file" #file placeholder="Choose file" accept="image/x-png,image/gif,image/jpeg" (change)="updateFile(file.files)" ngModel required name="image">
  </p>
  <button id="submit" type="submit" [disabled]="addForm.form.invalid">Submit</button>
</form>
<div class="loader" [ngStyle]="{display: loading_status}"></div>

